.shared-gif-wrapper {
  text-align: center;
  width: 600px;
  max-width: 90%;
  margin: auto;

  a.download-button, .share-a-gif {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
  }

  .password-wrapper {
    margin: 30px 0;
  }

  .invalid-password {
    color: red;
    margin: 15px 0;
  }

  .modal .modal-inner .modal-content-area {
    text-align: center ;
  }
}
