@import '../../_mixins.scss';

.uploader {
  text-align: center;
  padding-bottom: 45px;

  .input-wrapper {
    @include box-shadow(0 0 20px 10px, rgba(black, 0.1));
    @include transition(height 200ms, width 200ms);

    position: relative;
    width: 350px;
    height: 100px;
    max-width: 80%;
    max-height: 60vh;
    margin: 45px auto;
    border: 2px dashed rgba(black, 0.5);
    border-radius: 30px;

    &.empty {
      height: 500px;
      width: 500px;
    }

    input[type="file"] {
      cursor: pointer;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 30px;

      &:after {
        @include absolute-fill();
        content: '';
        border-radius: 30px;
        pointer-events: none;
        background: white;
      }
    }

    .file-button {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      right: 0;
      z-index: 2;
      pointer-events: none;
      text-transform: uppercase;

      > p {
        font-size: 20px;

        & + span {
          font-size: 12px;
          margin-left: 5px;
        }
      }

      .filename {
        @include text-overflow(ellipsis);
        font-weight: bold;
        display: block;
        margin: 15px auto 0;
        text-transform: uppercase;
        font-size: 11px;
        max-width: 80%;
      }
    }
  }

}