@import '../../_mixins.scss';

.video-wrapper {
  width: 600px;
  max-width: 90%;
  margin: auto;

  video {
    width: 100%;
  }

  .rc-slider {
    margin-top: 15px;

    .rc-slider-rail {
      background-color: #b9b3b3;
    }

    .rc-slider-track {
      background-color: darken(#6bbcff, 15);
    }

    .rc-slider-handle {
      border-color: darken(#6bbcff, 15);
    }
  }

  .duration {
    @include transition(color 300ms);
    display: block;
    color: rgb(110, 139, 163);
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;

    &.red {
      color: red;
    }
  }

  .length-warning {
    display: block;
    font-size: 11px;
    margin: 15px 0;
  }
}