@import '../../_mixins.scss';

.video-container {
  width: 600px;
  max-width: 90%;
  margin: auto;

  video {
    width: 100%;
  }

  .track {
    height: 20px;
    width: 95%;
    margin: 30px auto 15px auto;
  }
  .duration {
    @include transition(color 300ms);
    display: block;
    color: rgb(110, 139, 163);
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;

    &.red {
      color: red;
    }
  }

  .length-warning {
    display: block;
    font-size: 11px;
    margin: 15px 0;
  }

  .upload-button {
    @include transition(background 300ms);
    margin: auto;
    border-radius: 25%;
    background-color: #6bbcff;
    color: white;
    height: 40px;
    border-radius: 40px;
    line-height: 40px;
    width: 180px;
    cursor: pointer;

    &:hover {
      background-color: darken(#6bbcff, 15);
    }

    &.disabled {
      pointer-events: none;
      background-color: #dedede;
    }
  }

  .protection-wrapper, .expiration-wrapper {
    font-size: 14px;
    margin: 15px 0;
    
    label, div {
      cursor: pointer;
      @include vertical-align(middle);
    }

    div {
      pointer-events: none;
      margin-left: 5px;

      .react-toggle-thumb {
        box-shadow: none;
      }
    }

    .react-datepicker__navigation {
      height: 0px !important; 
    }
  }

  .password-wrapper {
    font-size: 14px;
    margin: 15px 0;

    span {
      margin-right: 5px;
    }

    div, span {
      @include vertical-align(middle);
    }

    div {
      @include transition(border-color 400ms);
      position: relative;
      border: 1px solid rgba(gray, 0.5);
      padding-right: 40px;
      border-radius: 15px;

      .input-password {
        height: 30px;
        outline: none;
        border: none;
        border-radius: 15px;
        padding: 15px;
        box-sizing: border-box;
      }
      
      .btn-show-hide {
        position: absolute;
        top: 7px;
        right: 15px;
        color: black;
        text-decoration: none;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }

  .expiration-date-wrapper {
    font-size: 14px;
    margin: 15px 0;

    span {
      margin-right: 5px;
    }

    input {
      border: 1px solid rgba(gray, 0.5);
      height: 30px;
      outline: none;
      border-radius: 15px;
      padding: 15px;
      box-sizing: border-box;
    }
  }
}