@import '_mixins.scss';

.uploader-wrapper {
  width: 600px;
  max-width: 90%;
  margin: auto;

  .modal {
    z-index: 5;

    .button {
      float: right;
    }
  }

  .protection-wrapper, .expiration-wrapper {
    font-size: 14px;
    margin: 15px 0;

    label, div {
      cursor: pointer;
      @include vertical-align(middle);
    }

    div {
      pointer-events: none;
      margin-left: 5px;

      .react-toggle-thumb {
        box-shadow: none;
      }
    }
  }

  .expires-at-wrapper {
    font-size: 14px;
    margin: 15px 0;

    span {
      margin-right: 5px;
    }

    input {
      border: 1px solid rgba(gray, 0.5);
      height: 30px;
      outline: none;
      border-radius: 15px;
      padding: 15px;
      box-sizing: border-box;
    }
  }
}
